.homepage-banner{
    background-image: url('https://cdn.pixabay.com/photo/2016/01/19/15/05/doctor-1149149_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.title-area{
    
    position: relative;
    top: 140px;
    right: 220px;
    font-size: 35px;
    color: #0176D5;
    line-height: 50px;
    width: 600px;
    margin: auto;
    text-align: justify;
}
.description{
    font-size: 20px;
    color: #333333;

}
.btn{
    
    margin: 20px;
    border: none;
    border-radius: 30px;
    padding: 12px 25px 12px 25px;
    background-color: #0176D5;
    color: #ffffff;
}
.button{
    background-color: #ADC624;

}
.services-container{
    width: 80%;
    margin: auto;
}
.logo{
    font-size: 35px;
    color: #0584ec;
}
.services-text{
    text-align: left;
}
.services-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

/* how we do it styles  */
.our-process-area{
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #0176D5;
    color: #ffffff;
}
.text{
    width: 80%;
    margin: auto;
    text-align: left;
}
.brief-text{
    width: 350px;
    text-align: justify;
}

span{
    color: #ADC624;
}
.cards{    
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.text-card{
    padding: 20px;
    margin: 50px;
    
}
/* message section styles  */
.form-area{
    width: 400px;
    margin: auto;
}
.message-section{
    background-color: #F1F1F1;
    padding: 50px;
}
.message-text{
    width: 500px;
    text-align: left;
}
.message-text h2{
    color: #0176D5;
}
/* .map-area{
    width: 400px;
    margin: auto;
} */

@media only screen and (max-width: 767px) {
    .form-area{
        width: 80%;
        margin: auto;
    }

}

/* Mobile Device Responsiveness  */
@media only screen and (max-width: 767px) {
    .services-cards{
        grid-template-columns: auto;
       
    }
    .text-details{
        width: 80%;
        margin: auto;

    }
    .details{
        width: 200px;        
    }
    .cards{    
        display: grid;
        grid-template-columns: auto;
    }
    .text-card{
        text-align: left;
        width: 300px;
        margin: auto;
        padding: 0px;

    }
    .brief-text{
        width: 95%;
        text-align: left;
    }

}










/* Mobile Device Responsiveness  */
@media only screen and (max-width: 767px) {
    .homepage-banner{
        background-image: url('https://s3-eu-west-1.amazonaws.com/intercare-web-public/wysiwyg-uploads%2F1569586526901-doctor.jpg');
        width: 100%;
        height: auto;
        margin: auto;
    }  
    .title-area{
        position: relative;
        top: 280px;
        right: 0px;
        font-size: 25px;
        width: 350px;
    }
    .description{
        font-size: 16px;
        color: #333333;
        line-height: 22px;
    
    }
    .btn{
        margin: 8px;
        padding: 8px 15px 8px 15px;
    }
    .homepage-banner{
        margin-bottom: 325px;
    }
   
  }
 